@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(244, 248, 252);
}

.navbar{
    background-color: #088D85;
}

#offcanvasDarkNavbar{
    background-color: #088D85;
}