@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(206, 212, 217);
}

.navbar{
    background-color: #088D85;
}

#offcanvasDarkNavbar{
    background-color: #088D85;
}
.offcanvas-title{
    color: #fff;
}

.dropdown-menu.show{
    background-color: #088D85;
}

.dropdown-menu li a{
    color: #fff;
}
