@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(244, 248, 252);
    margin: 0;
}

.titulo {
    padding: 10px;
    width: 100%;
    background-color: #088D85;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.flex-container {
    display: flex;
    height: 100%;
    background-color: rgb(244, 248, 252);
}

.flex-menu {
    flex-direction: column;
    background-color: #37C7B5;
    flex: 15%;
    padding: 5px;
}

.flex-menu-link {
    padding: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.flex-menu-link :hover {
    color: darkgrey;
}

.flex-catalogo {
    flex: 75%;
    padding: 5px;
    flex-wrap: wrap;
}

.flex-catalogo-card {
    /*top | right | bottom | left*/
    padding: 5px 10px 5px 10px;
    /*margin: 0 0 20px 0;*/
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.2);
    border-radius: 5px;
    background-color: #ffffff;

}

.flex-catalogo-card:hover {
    box-shadow: 0 12px 20px 0 rgb(0, 0, 0, 0.2);
    cursor: pointer;
    border: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
}

.cartaz-filme {
    height: 300px;
    width: 200px;
}

.selecionado {
    border-left: 0;
    border-left-width: 8px;
    border-left-style: solid;
    color: #ffffff;
}

.nome-localC {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-item {
    padding: 5px;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}

.nav-item:hover {
    color: darkgrey;
}

.form {
    width: 79vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(244, 248, 252);
    padding: 3rem;
    border-radius: 7px;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #2ae6c6;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    color: #fff;
}

.login-button button:hover {
    background-color: #05927C;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #05927C;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    flex-direction: column;
    height: 79vh;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #05927C;
}

.input-box label,
.gender-title h6 {
    font-size: 0.80rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}