@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
   background-color: rgb(206, 212, 217);
}

.fundo { 
    background: linear-gradient(0.46turn,#088D85 10% ,#37C7B5 60%,  rgb(206, 212, 217) 40%);
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.container-flex{
    width: 60vh;
    height: 45vw;
    display: flex;
    box-shadow:  rgba(0, 0, 0, .212);

}
.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(244, 248, 252);
    padding: 3rem;
    border-radius: 7px;
}
.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
 .login-button{
    display: flex;
    align-items: center;
}
.login-button button{
    border: none;
    background-color: #2ae6c6;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    color: #fff;
}
.login-button button:hover{
    background-color: #05927C;
}
.login-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}
.form-header h1::after{
    content:'';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #05927C;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    flex-direction: column;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box input:hover{
    background-color: #eeeeee75;
}
.input-box input:focus-visible{
    outline: 1px solid #05927C;
}
.input-box label,
.gender-title h6{
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}
.input-box input::placeholder{
    color: #000000be;
}
.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}
.gender-input{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.gender-input input{
    margin-right: 0.35rem;
}
.gender-input label{
    font-size: 0.95rem;
    font-weight: 600;
    color: #000000c0;
}
.back-button button{
    border: none;
    background-color: #2ae6c6;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    color: #fff;
}
.back-button button:hover{
    background-color: #05927C;
}
.back-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
} 

@media screen and (max-width: 1487px){
    .form-header{
        margin-top: 1rem;
    }
    .form{
        width: 90%;
        height: 95%;
    }
    .form{
        width: 100%;
    }
}
@media screen and (max-width: 1064px) {
    .container-flex{
        width: auto;
        height: auto;
    }
    .form-header{
        margin-top: 26rem;
    }
    .input-group{
        flex-direction: column;
        flex-wrap: nowrap; 
        max-height: 70rem;
        padding-right: 1rem;
        margin-top: 2rem;
    }
    .gender-inputs{
        margin-top: 2rem;
    }
    .gender-group{
        flex-direction: column;
    }
    .gender-input{
        margin-top: 0.5rem;
    }
}